<h1>{{ title }}</h1>
<h2>{{ head }}</h2>

<!-- <app-product [productList]="productList"></app-product> -->

<!-- <app-product (demoEvent)="receiveMethods($event)"></app-product> -->


<!-- <input type="radio" [type]="" checked /> All
<input type="radio" name="department" value="Chicago"  (click)="bindDepartment($event)" /> Chicago
<input type="radio" name="department" value="California"  (click)="bindDepartment($event)"/>California
<input type="radio" name="department" value="Texas" (click)="bindDepartment($event)"/>Texas
<input type="radio" name="department" value="Chicago" (click)="bindDepartment($event)"/>Chicago

<app-department [deparmentLocation]="departmentName" (totalCount)="showCount($event)"></app-department>
 -->

<!-- <label for=""></label> -->
<!-- <h1>Total Count is = {{deparmentCount}}</h1> -->
<router-outlet></router-outlet>

<app-customer></app-customer>