@model ApplicationCore.Model.Request.ProductRequestModel

@{
    ViewBag.Title = "Create Product";
    Layout = "_Layout";
}

<h2>Create Product</h2>

<form asp-action="Create" asp-controller="Product" method="post">
    <div class="form-group">
        <label asp-for="Name">Product Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
        
        <label asp-for="Description">Product Description</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
        
        <label asp-for="CategoryId">Product Category</label>
        <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))" class="form-control">
            <option value="">Select a category...</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
        
        <label asp-for="Price">Product Price</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
        
        <label asp-for="Qty">Product Quantity</label>
        <input asp-for="Qty" class="form-control" />
        <span asp-validation-for="Qty" class="text-danger"></span>
        
        <label asp-for="Product_image">Product Image URL</label>
        <input asp-for="Product_image" class="form-control" />
        <span asp-validation-for="Product_image" class="text-danger"></span>
    </div>
    
    <button class="btn-primary btn" type="submit">Save</button>
</form>