<!-- Improved styling for the ECommerce Products header -->
<div class="p-10 text-center bg-gray-100">
    <h1 class="mb-4 text-5xl font-extrabold text-gray-800">ECommerce Products</h1>
    <h4 *ngIf="products && products.length >= 0" class="text-lg text-gray-600"> 
        Products Count: <span class="text-blue-600">{{ products.length }}</span>
    </h4>
</div>

<!-- Grid layout adjustments and responsive design improvements -->
<section id="Projects" class="grid grid-cols-1 gap-10 p-10 bg-white md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
    <!-- Error message styling -->
    <div *ngIf="errorMessage" class="text-center text-red-500 col-span-full">
        <h1 class="text-2xl font-bold">Something went wrong while loading products:</h1>
        <p>{{ errorMessage }}</p>
    </div>
    <!-- No products error message -->
    <div *ngIf="products && products!.length == 0" class="text-center col-span-full">
        <h3 class="text-xl text-yellow-600">Error Accessing Products Page</h3>
    </div>
    <!-- Product card styling -->
    <div *ngFor="let product of products" class="overflow-hidden bg-white border border-blue-200 rounded-lg shadow-lg hover:shadow-2xl">
        <a target="_blank" [href]="'/products/' + product.id">
            <img [src]="product.product_image.includes('http') ? product.product_image : 'https://previews.123rf.com/images/antonshaparenko/antonshaparenko1906/antonshaparenko190600349/125186506-product-vector-icon-illustration-creative-sign-from-quality-control-icons-collection-filled-flat.jpg'" alt="Product" class="object-cover w-full h-64 rounded-t-lg" />
        </a>
        <div class="p-6">
            <h4 class="mb-2 text-xl font-bold tracking-tight text-gray-900">{{ product.name }}</h4>
            <p class="mb-3 font-normal text-gray-700">{{ product.description }}........</p>
            <div class="flex items-center justify-between">
                <span class="text-xl font-bold text-gray-900">${{ product.price }}</span>
                <span class="text-sm text-gray-500">Cat ID: {{ product.categoryId }}</span>
                <button (click)="addToCart(product.id)" class="px-6 py-2 text-sm font-bold text-white transition-colors duration-200 transform bg-blue-600 rounded hover:bg-blue-500">
                    Add to Cart
                </button>
            </div>
            <div *ngIf="isAdmin" class="flex justify-end mt-4 space-x-3">
                <a target="_blank" [href]="'/products/' + product.id">
                    <button class="px-6 py-2 text-sm font-bold text-white transition-colors duration-200 transform bg-green-600 rounded hover:bg-green-500">Edit</button>
                </a>
                <button class="px-6 py-2 text-sm font-bold text-white transition-colors duration-200 transform bg-red-600 rounded hover:bg-red-500">
                    Delete
                </button>
            </div>
        </div>
    </div>
</section>
