@model ApplicationCore.Model.Response.CustomerResponseModel

@{
    ViewBag.Title = "Delete Product";
    Layout = "_Layout";
}

<h2>Delete Customer</h2>

<div>
    <p>Are you sure you want to delete the product <strong>@Model.FirstName</strong>?</p>
    <form asp-action="Delete" asp-controller="Customer" method="post">
        <input type="hidden" asp-for="CustomerId" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" asp-controller="Customer" class="btn btn-secondary">Cancel</a>
    </form>
</div>