@model MVCLearnProject.ViewModel.RandomMovieModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@{
    var className = Model.Customers.Count > 1 ? "popular" : null;
}

<h2 class="@className"> This is Heading</h2>
@{
    foreach (var customer in Model.Customers) 
    {
        <li>@customer.Name</li>
        
    }
} 
} 